

.row-menu{
	width: 100%;
	height: 40px;
	background-color: rgba(0,0,0,0.9);
	color: #fff;
	vertical-align: middle;
}

.titulo{
	margin-left: 50px;
}


.list-inline{
	float: right;
	margin-right: 50px;
	margin-top: 10px;
}

.list-inline a{
	color: #fff;
	text-decoration: none;
	font-size: 12px;
}

.col-izquierda{
	background-color: red;
}

.col-derecho{
	background-color: #666;
}

.row-contenido{
	padding: 20px;
}

.search-contenido{
	width: 800px;
	
}


